<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Dueños de mascotas</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            [(ngModel)]="emailTxt"
                            name="emailTxt"
                        />
                    </div>
                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password"
                            [(ngModel)]="passwordTxt"
                            name="passwordTxt"
                        />
                    </div>
                </div>
                <a (click)="onLoggedin()" [routerLink]="['/dashboard']" class="btn rounded-btn">{{
                    'Log in' | translate
                }}</a>
                &nbsp;
                <a [routerLink]="['/signup']" class="btn rounded-btn">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
