<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <h3 class="text-muted">Gestion de dueños y sus mascotas</h3>

                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Nombre completo' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            [(ngModel)]="nombreTxt"
                            name="nombreTxt"
                        />
                    </div>                    
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            [(ngModel)]="emailTxt"
                            name="emailTxt"
                        />
                    </div>
                    
                </div>

                <button class="btn btn-secondary mr-3" type="button" (click)="guardarNuevoDueno()" >Guardar nuevo dueño</button>
                <button class="btn btn-secondary" type="reset">Limpiar</button>
            </form>
        </div>    
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="card-header">Dueños</div>
            <table class="card-body table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of duenos; let i = index ">
                        <td>{{d.nombre_completo}}</td>
                        <td>{{d.email}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-warning">Editar</button>
                                <button type="button" class="btn btn-primary" (click)="gestionarMascotas(d)">Gestionar mascotas</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" *ngIf="dueno_seleccionado!=null">
            <div class="row mb-5">
                <div class="col-md-12">
                    <form role="form">
                        <h3 class="text-muted" *ngIf="nombre_dueno_seleccionado">Registrar nueva mascota para {{nombre_dueno_seleccionado}}</h3>
        
                        <div class="form-content">
                            <div class="form-group">
                                <input
                                    [placeholder]="'Nombre' | translate"
                                    class="form-control input-underline input-lg"
                                    type="text"
                                    [(ngModel)]="nombreMTxt"
                                    name="nombreMTxt"
                                />
                            </div>                    
                            <div class="form-group">
                                <input
                                    [placeholder]="'Edad' | translate"
                                    class="form-control input-underline input-lg"
                                    type="number"
                                    [(ngModel)]="edadMTxt"
                                    name="edadMTxt"
                                    
                                />
                            </div>
                            <div class="form-group">
                                <label>Tipo de mascota</label>
                                <select class="form-control" [(ngModel)]="tipoMascotaTxt" name="tipoMascotaTxt">
                                    <option *ngFor="let t of tiposMascota;" value="{{t.id}}">{{t.nombre}}</option>
                                </select>
                            </div>

                        </div>
        
                        <button class="btn btn-secondary mr-3" type="button"  (click)="guardarNuevaMascota()" >Guardar nuevo</button>
                        <button class="btn btn-secondary" type="reset">Limpiar</button>
                    </form>
                </div>    
            </div>            
            <div class="card-header">Mascotas</div>
            <table class="card-body table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Tipo de mascota</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let m of mascotas">
                        <td>{{m.nombre}}</td>
                        <td>{{m.edad}}</td>
                        <td>{{m.tipo_mascota}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-warning">Editar</button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="mascotas.length==0"> 
                        <td colspan="4" class="text-center">No hay mascotas registradas para un dueño</td>
                    </tr>
                </tbody>
            </table>
           
        </div>

    </div>

</div>
