<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <h3 class="text-muted">Registrar tipo de mascota</h3>

                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Nombre completo' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            [(ngModel)]="nombreTxt"
                            name="nombreTxt"
                        />
                    </div>     
                    
                </div>

                <button class="btn btn-secondary mr-3" type="button" (click)="guardarNuevo()" >Guardar nuevo</button>
                <button class="btn btn-secondary" type="reset">Limpiar</button>
            </form>
        </div>    
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="card-header">Tipos de mascota</div>
            <table class="card-body table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipos of tiposMascota">
                        <td>{{tipos.nombre}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-warning">Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     

    </div>

</div>
