<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tipo-mascota']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Tipo de mascota' | translate }}</span>
        </a>
        
        <a [routerLinkActive]="['router-link-active']" (click)="onLoggedout()" [routerLink]="['/login']" class="list-group-item">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;
            <span>{{ 'Log Out' | translate }}</span>
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a (click)="addExpandClass('languages')" class="list-group-item">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li [class.expand]="showMenu === 'languages'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a (click)="changeLang('en')" href="javascript:void(0)">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('fr')" href="javascript:void(0)">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('ur')" href="javascript:void(0)">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('es')" href="javascript:void(0)">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('it')" href="javascript:void(0)">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('fa')" href="javascript:void(0)">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('de')" href="javascript:void(0)">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a (click)="addExpandClass('profile')" class="list-group-item">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li [class.expand]="showMenu === 'profile'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="onLoggedout()" [routerLink]="['/login']">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
